<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_others :: head" />
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:include ="_menus :: top-menu" />
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

<aside>
    <h2>Recent Posts</h2>
    <a href="#" th:each="p : ${latest5posts}" th:text="${p.title}"
       th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>
</aside>

<main id="posts">
    <article th:each="p : ${latest3posts}">
        <h2 class="title" th:text="${p.title}">Post Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${p.author}" th:remove="tag">
                    <i>by</i> <span th:text="${p.author.name != null ?
                        p.author.name : p.author.login}">Svetlin Nakov</span>
                </span>
        </div>
        <p class="content" th:utext="${p.body}">Post content</p>
    </article>
</main>


        </div>
      </div>
    </div>
<th:block th:include="_others :: scripts" />
</body>
</html>